//
   Created by saraf on 11/17/2014.

extends layout

block content
   div#div0
      div#div1
         h1 My Home Town: Lexington, Massachusetts
         // this area contains the town motto and title
         div#textarea1 What a Glorious Morning for America!
      div#div2
         // this section contains images
         select#pulldown
            li Select Image
            li Harrington
            li Minuteman Statue
            li The Center
            li The Green
            li Wilson Farms
            li Lexington High School
         br
         br
         img#mainImage(src='images/harrington.jpg')
      div#div3
         // this section will provide information about lexington
         h2 Facts about Lexington
         div#content
            // this section will display the population and population
            // changes in Lexington since 1850
      div#div4

