// Created by saraf on 11/13/2014.

div.
   Lexington, MA was founded in 1642 and is famous for being the first site of the first shot
   of the American Revolutionary War. It is the site of the "shot heard round the world" when news
   first spread about the revolution. When Lexington was first founded, it was a part of current
   Cambridge, MA. Lexington was incorporated as a separate town in 1713.