//
   Created by saraf on 11/17/2014.

div.
   The public school system in Lexington is excellent. In 2012, Lexington High School
   was named the 194th best high school in the Nation by Newsweek. There are a total
   of six elementary schools, two middle schools, and two high schools (one public and
   one vocational)