//
   Created by saraf on 11/17/2014.

div.
   Lexington has a population of around 31,000 people. It borders Burlington, Woburn,
   Winchester, Arlington, Belmont, Waltham, Lincoln, and Bedford, and is part of
   Middlesex county.