//
   Created by saraf on 11/17/2014.

div.
   Besides being of historical interest, Lexington has much more to offer.
   Lexington Centre is a big deal and is located two minutes from the public
   high school. High school and middle school students can often be seen
   hanging out there during or after school. The public library is also located
   in the center, and provides many activities that members of the community
   can take part in.