/* styles for each div class */
div#div0{
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

div#div1 {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  margin-top: 10px;
  layout: box;
  left: 20px;
  width: 1100px;
  height: 100px;
  text-align: center;
}

div#div2 {
  position: absolute;
  top: 140px;
  width: 550px;
  height: 300px;
  margin-top: 20px;
  padding-left: 10px;
}

div#div3 {
  position: absolute;
  top: 140px;
  layout: box;
  left: 300px;
  width: 550px;
  text-align: center;
}

div#div4 {
  position: absolute;
  top: 650px;
  width: 1100px;
  text-align: center;
}

#mainImage {
  height: 100%;
  width: 50%;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

/* table formatting */
table, th, td {
  width: 50%;
}

th, td {
  padding: 5px;
}